nav {
    background-color: white;
    margin: 0;
    padding: 0;
    align-items: baseline;
    height: 10vh;
}

nav a {
    color: black;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.active-link {
    color: #207fee;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.paymybuddy {
    padding-left: 3em;
    display: flex;
    width: 40%;
    align-items: flex-start;
}


.button-new-relation {
    background-color: #f69f1d;
    display: flex;
    align-content: center;
    color: white;
    padding: 0.5em 1.5em;
    width: fit-content;
    border-radius: 6px;
    box-shadow: none;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input {
    display: flex;
    flex-direction: column;
    width: 430px;
}

#form-new-relation {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.85vw;
}

.form-new-transaction {
    display: flex;
    flex-direction: row;
    margin: 0 1.5em;
    gap: 2vw;
}

#transaction {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    margin: 0; /* Enlève les marges par défaut */
}