<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>création d'un compte</title>
</head>
<body>


    <form action="/account/creation" method="post" th:object="${account}">
        <input type="number" name="person-id" th:object="${personId}">
        <p>nom du compte</p>
        <input type="text" name="name" placeholder="entrer le nom du compte">
        <p>description</p>
        <textarea name="description" placeholder="description du compte" th:object="${description}"
        rows="12">
        </textarea>
        <p>Solde</p>
        <input type="number" name="balance" placeholder="solde du compte">
        <button type="submit" th:onclick="fillAccount()">Créer le compte</button>
    </form>
</body>
</html>