<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>création d'un compte</title>
</head>
<body>


    <form action="/account/creation" method="post" th:object="${account}">
        <p>nom du compte</p>
        <input type="text" name="name" placeholder="entrer le nom du compte">
        <p>Prénom</p>
        <input type="text" name="firstName" placeholder="entrer le prénom">
        <p>Nom de famille</p>
        <input type="text" name="lastName" placeholder="entrer le nom de famille">
        <p>e-mail</p>
        <input type="email" name="email" placeholder="entrer l'adresse email">
        <p>Mot de passe</p>
        <input type="password" name="password" placeholder="entrer le mot de passe">
        </textarea>
        <p>Solde</p>
        <input type="number" name="balance" placeholder="solde du compte">
        <button type="submit">Créer le compte</button>
    </form>
</body>
</html>