<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>transaction</title>
</head>
<body>
    <h1>transaction</h1>
    <form th:action="@{/transaction/new-transaction}" th:object="${transaction}" method="post">
        <select name="connectionList" id="receiverId" th:field="*{recipient.identifier}">
            <option value="" disabled selected>Choisissez une connexion</option>
            <option th:each="account : ${accountDtoList}"
                    th:value="${account.getIdentifier()}"
                    th:text="${account.getFirstName()} + ' ' + ${account.getLastName()}">

            </option>
        </select>
        <input type="text" name="name" id="name" placeholder="Description" th:field="*{name}">
        <input type="number" name="amount" id="amount" placeholder="0€" th:field="*{amount}">
        <button type="submit">Payer</button>
    </form>

    <table>
        <thead>
            <caption><strong>Mes transactions</strong></caption>
            <tr>
                <th>Relations</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="@{${transaction.sender.firstName}}"></td>
                <td th:text="${transaction.name}"></td>
                <td th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>