<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/transaction/transaction-successful" method="post" th:object="${transaction}">
        <p>raison de la transaction</p>
        <input type="text" name="name" placeholder="Entrer ici la raison de la transaction">
        <p>Envoyer de l'argent</p>
        <input type="number" name="amount">
        <button type="submit">Envoyer</button>
    </form>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.name}" />
        <td th:text="${transaction.amount}" />
    </tr>
</body>
</html>