<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logging into an account on pay my buddy</title>
</head>
<body>
    <div class="title">
        <h1 id="title-log-into-account">Pay My Buddy</h1>
    </div>

    <div class="form">
        <form method="POST" action="" name="logging">
            <input type="text" name="email" placeholder="Mail" required>
            <input type="password" name="password" placeholder="Password" required>
        </form>
    </div>

</body>
</html>