<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create person</title>
</head>
<body>

    <form action="/person/creation" method="post" th:object="${person}">
        <p>Prénom</p>
        <input type="text" name="firstName" placeholder="entrer le prénom">
        <p>Nom de famille</p>
        <input type="text" name="lastName" placeholder="entrer le nom de famille">
        <p>e-mail</p>
        <input type="email" name="email" placeholder="entrer l'adresse email">
        <p>Mot de passe</p>
        <input type="password" name="password" placeholder="entrer le mot de passe">
        <button type="submit">Soumettre</button>
    </form>

</body>
</html>