<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>settings</title>
</head>
<body>
    <form th:action="@{/home/settings}" th:object="${account}" method="post">
        <label>Username</label>
        <input type="text" th:field="*{username}"/>
        <label>Email</label>
        <input type="text" th:field="*{email}"/>
        <label>Password</label>
        <input type="password" th:field="*{password}"/>
        <input type="submit" value="Modifier"/>
    </form>

</body>
</html>